{% extends 'base.html' %}

{% block head %}
<title>Logistic Regression</title>
{% endblock %}

{% block body %}

<div class="content">
    <br>
    <h3 style="text-align: center">Logistic Regression</h3>
    <div class="form">
    <form action='/logReg' name="form", method="POST", style="text-align: center;">
      <br>
      <strong>sepal length: </strong><input type="number" name="x" step="0.01" min="0" placeholder="Enter sepal length in cm" required/>
      <br><br>
      <strong>sepal width: </strong><input type="number" name="y" step="0.01" min="0" placeholder="Enter sepal width in cm" required/>
      <br><br>
      <strong>petal length: </strong><input type="number" name="w" step="0.01" min="0" placeholder="Enter sepal length in cm" required/>
      <br><br>
      <strong>petal width: </strong><input type="number" name="z" step="0.01" min="0" placeholder="Enter sepal width in cm" required/>
      <br><br>
      <input type="submit" value="Run">
    </form>
    <p style="text-align: center;">{{ output }}</p>
		</div>
</div>

{% endblock %}